<!-- <div class="footer" style="background: #60CC30 ">
    <div class="col-sm-8">
        <h5 class="">Send an email</h5>
        <h6 class="display-5">Report Issues!</h6>
        <br>
        <p class="h5">You can report us the issues you face while using the website and help us improve.</p>
        <a class="h4" href="mailto:wecare2020@gmail.com" data-component="link" data-source="inlineLink"
            data-type="internalLink" data-ordinal="1">Send an e-mail</a>
    </div> -->
   
<!-- Site footer -->
<footer class="site-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Send an email</h6>
                <p class="text-justify">You can report us the issues you face while using the website and help us improve.</p>
                <a href="mailto:wecare2020@gmail.com">Send an e-mail</a>
            </div>

            <div class="col-xs-6 col-md-3">
                
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">SafeZones</a></li>
                    <li><a href="#">SOS</a></li>
                    <li><a href="#">Helpline Numbers</a></li>
                    <li><a href="#">SafeGuide</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">WeCare</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>





<!-- <a href="https://facebook.com"><img class="facebook" src="/images/fb.png"></a>
<a href="https://twitter.com"><img class="twitter" src="/images/twitter.png"></a>
<a href="https://in.linkedin.com"><img class="linkedin" src="/images/linkedin.png"></a>
<a href="https://instagram.com"><img class="instagram" src="/images/instagram.png"></a>
<p>© 2020 WeCare</p> -->

</div>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
     <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
 </body>
 </html>
