<% include ./partials/header %>

<h1
  class="text-center mt-4"
  style="-webkit-text-decoration: #60CC30 double underline;
    text-decoration: #60CC30 double underline;"
>
  OUR MISSION
</h1>

<div class="container col-sm-10 mx-auto">
  <h4 class="text-center mt-4">"Women Empowering Women"</h4>
  <p class="mt-3">
    We are trying to make people aware of the ignorance on the very sensitive
    issue of women safety. Our basic goal is to make people realise their
    responsibilities towards this very issue. We are using technology as a
    adhesive to bring together people irrespective of culture and religion.
  </p>
  <p>
    To provide safety to women we have employed the following features on a web
    app as well as flutter app:
  </p>
  <ul>
    <li class="mb-3">
      <b>Safeguides:</b> These are people who voluntarily come forward and help
      forward and help women stuck in an emergency situation in their area, in
      which they have registered themselves as SafeGuides. Women users who need
      them any time can connect with them, if not feeling safe in an area.
    </li>
    <li class="mb-3">
      <b>Connect</b> with an unknown and become friends for a lifetime.
      Sometimes one wishes to go somewhere like an event or something but has
      hesitation going alone due to safety reasons. We have included a pairing
      option in which a particular women user can host a particular event and
      others can pair with her.
    </li>
    <li class="mb-3">
      <b>SafeHouse:</b> They are famous places like CCD, houses of SafeGuides,
      etc., which can collaborate with us and help women in emergency situations
      stay at their places until a loved one or family member comes for help.
      SafeHouses can be assigned with prior authentication and big brands and
      malls will collaborate with us for promotion and brand value purposes.
    </li>
    <li class="mb-5">
      <b>SOS:</b> This is a basic feature that sends the present location as an
      SMS just with the press of a button to a trusted contact.
    </li>
  </ul>
</div>

<% include ./partials/footer %>
