<% include ./partials/header %>

<form action="/data" method="GET">
    <label for="em">Email</label>
    <input type="email" id="em" name="EMAIl" >
    <label for="x">SafeGuide</label>
    <input type="radio" name="" id="x">
    <label for="y">SafeHouse</label>
    
    <input type="radio" name="" id="y">
   <textarea name="new" id="cmp" cols="30" rows="10">

    </textarea>
    <br>
<input type="submit">

</form>

<% include ./partials/footer %>



