<% include ./partials/header %>
<link rel="stylesheet" href="landing.css" />

<div class="container-fluid main">
  <div class="row">
    <div class="col helpsomeone main-columns">
      <a href="/be-a-guide"
        ><button type="button" class="btn btn-lg btn-outline-primary">
          Become a SafeGuide
        </button></a
      >
    </div>
    <div class="col gethelp main-columns">
      <a href="/want-a-guide">
        <button type="button" class="btn btn-lg btn-outline-primary">
          Get a SafeGuide
        </button></a
      >
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  crossorigin="anonymous"
></script>
<% include ./partials/footer %>
