<% include ./partials/header %>

<link rel="stylesheet" href="landing.css" />

<div class="flex container-fluid main">
  <div class="row">
    <div class="flex helpsomeone main-columns">
      <a href="/be-a-guide"
        ><button type="button" class="btn btn-lg btn-outline-primary">
          Become a SafeGuide
        </button></a
      >
    </div>
    <div class="flex gethelp main-columns">
      <a href="/want-a-guide">
        <button type="button" class="btn btn-lg btn-outline-primary">
          Get a SafeGuide
        </button></a
      >
    </div>
  </div>
</div>

<% include ./partials/footer %>
