<% include ./partials/header %>
<style>
  body {
    background: #f4f4f4;
  }
</style>

<div class="container-fluid text-center">
  <h1 style="color: black; background: #f4f4f4" class="animated bounce">
    Power Comes Within!!
    <hr />
    <hr />
  </h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-sm-2">
        <video style="border-radius: 30px;" class="img-fluid" controls loop>
          <source
            src="https://thumbs.gfycat.com/FluffyFlashyCockroach-mobile.mp4"
            type="video/mp4"
          />
        </video>
      </div>

      <div
        class="card text-center col-sm-12 col-md-6 col-lg-8 order-2 order-md-2"
      >
        <div class="card-header display-4" style="background: #f4f4f4">
          Hammer strike
        </div>
        <div class="card-body">
          <p class="card-text text-center" style="font-size: 1.5rem;">
            Using your car keys is one of the easiest ways to defend yourself.
            Don’t use your fingernails, because you’re more at risk to injure
            your hands. Instead, if you feel unsafe while walking at night, have
            your keys stick out from one side of your fist for hammer strikes.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div
        class="card text-center col-sm-12 col-md-6 col-lg-8 order-2 order-md-1"
      >
        <div class="card-header display-4" style="background: #f4f4f4;">
          Groin kick
        </div>
        <div class="card-body #f4f4f4" style="font-size: 1.5rem;">
          <p class="card-text text-center">
            If someone is coming at you from the front, a groin kick may deliver
            enough force to paralyze your attacker, making your escape possible.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-md-2">
        <video style="border-radius: 30px;" class="img-fluid" controls loop>
          <source
            src="https://thumbs.gfycat.com/MetallicBoilingGermanshorthairedpointer-mobile.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 order-sm-5 order-md-5">
        <video style="border-radius: 30px;" class="img-fluid" controls loop>
          <source
            src="https://thumbs.gfycat.com/InnocentImpassionedBrocketdeer-mobile.mp4"
            type="video/mp4"
          />
        </video>
      </div>

      <div
        class="card text-center col-sm-12 col-md-6 col-lg-8 order-sm-6 order-md-6"
      >
        <div class="card-header display-4" style="background: #f4f4f4;">
          Heel Palm Strike
        </div>
        <div class="card-body #f4f4f4">
          <p class="card-text text-center" style="font-size: 1.5rem;">
            This move can cause damage to the nose or throat. To execute, get in
            front of your attacker as much as is possible.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div
        class="card text-center col-sm-12 col-md-6 col-lg-8 order-2 order-md-1"
      >
        <div class="card-header display-4" style="background: #f4f4f4;">
          Elbow Strike
        </div>
        <div class="card-body #f4f4f4">
          <p class="card-text text-center" style="font-size: 1.5rem;">
            If your attacker is in close range and you’re unable to get enough
            momentum to throw a strong punch or kick, use your elbows.
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-md-2">
        <video style="border-radius: 30px;" class="img-fluid" controls loop>
          <source
            src="https://thumbs.gfycat.com/FrenchFatGalapagosmockingbird-mobile.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>
  <% include ./partials/footer %>
</div>
