<h1>
	Register to continue
</h1>

<form action="/register" method="post">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="text" name="location" placeholder="Enter Your Location">
	<button>
		Sign Up!
	</button>
</form>