<% include ./partials/header %>
<h1
  class="text-center mt-4"
  style="-webkit-text-decoration: #60CC30 double underline;
    text-decoration: #60CC30 double underline;"
>
  SafeZones
</h1>
<table class="table col-sm-10 mx-auto mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="safezone1">VIPS</a></td>
      <td>PitamPura</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="safezone2">CCD</a></td>
      <td>Jail Road,Janakpuri</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href="safezone3">House of Female Volunteer</a></td>
      <td>Hari Nagar</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><a href="safezone4">House of Female Volunteer</a></td>
      <td>Dwarka</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><a href="safezone5">House of Female Volunteer</a></td>
      <td>Nirman Vihar</td>
    </tr>
  </tbody>
</table>

<% include ./partials/footer %>
